.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
.github
docs
node_modules
src
CONTRIBUTING.md
package-lock.json
tsconfig.json
webpack.config.js
*.vsix
jsdoc2md.json
