/* 
    credited to https://loading.io/
*/
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
    left: 50%;
	top: 50%;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.pending {
	text-align: center;
	font-size: 30px;
}

.issues-list {
	list-style-type: none;
}
.issues-list > li {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #4f4f4f;
}

.issues-list > li:last-child {
	border-bottom: none;
}
a:hover {
	cursor: pointer;
}
a {
	color: inherit;
}

.issue-title {
	font-size: 150%;
	font-weight: bold;
	flex: 1;
}
.meta-bottom {
	display: inline-flex;
}
.meta-bottom > .authored {
	font-weight: 400;
	color: #999;
}

.meta-bottom > .author {
	color: #fafafa;
	margin-left: 4px;
}
.labels {
	margin-left: 10px;
}
.labels > * {
	margin-left: 10px;
}
.label {
	/* background-color: violet; */
	border-radius: 0.75rem;
}
.meta-right {
	/* float: inline-end; */
}
.meta {
	flex: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

a[href] {
	display: contents;
}
/*

.meta-right {
    float: right;
}    
.issue-title {
    font-size: 70%;
}



*/
