.header {
	color: red;
}

.triggererRow span {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
	color: #fff;
}
.triggererRow:hover span {
	display: block;
}

table > tr {
	display: block;
    place-self: center;
    align-self: center;
    justify-self: stretch;
}
tr > th {
    width: 20%;

}
table{
    display: grid;
    grid-template: auto;
    row-gap: 50px;
    justify-items: center;
    align-items: center;
    width: 100%;    
    /* justify-content: space-around; */
}